In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

In [2]:
df = pd.read_csv("Book2.csv")
df

                                           url
0  https://en.wikipedia.org/wiki/Yakult_Honsha
1         https://en.wikipedia.org/wiki/Danone
2         https://en.wikipedia.org/wiki/Pfizer

In [3]:
# browser = webdriver.Chrome()

## Scraping from only three website

In [21]:
data = []

for link in (df['url']):
    
    res =  requests.get(link)
    soup = BeautifulSoup(res.text, 'html.parser')
    # # print(soup.text)
    Companys_Name   = soup.find('span', class_= "mw-page-title-main").text
    Company_Type    = soup.find_all('td', class_="infobox-data category")[0].text
    Industry        = soup.find_all('td', class_="infobox-data category")[1].text
    Founded         = soup.find('span', class_="bday dtstart published updated").text
    Headquarter     = soup.find('td', class_="infobox-data label").text
    Website         = soup.find('span', class_="url").text

    data.append([Companys_Name, Company_Type, Industry, Founded, Headquarter, Website])

    # break

In [22]:
data

[['Yakult Honsha',
  'Public KK',
  'Probiotic Drinks',
  '1955-01-29',
  'Minato-ku, Tokyo, Japan',
  'www.yakult.co.jp'],
 ['Danone',
  'Société anonyme',
  'Food processing',
  '1966',
  'Boulevard Haussmann 9th arrondissement, Paris, France (Operational)Hoofddorp, Netherlands (Global)[1]',
  'danone.com'],
 ['Pfizer',
  'Public',
  'PharmaceuticalBiotechnology',
  '1849',
  'The Spiral, New York City, U.S.',
  'pfizer.com']]

In [23]:
df2 = pd.DataFrame(data, columns=['Companys_Name','Company_Type','Industry', 'Founded', 'Headquarter', 'Website'])
df2

,Companys_Name,Company_Type,Industry,Founded,Headquarter,Website
0,Yakult Honsha,Public KK,Probiotic Drinks,1955-01-29,"Minato-ku, Tokyo, Japan",www.yakult.co.jp
1,Danone,Société anonyme,Food processing,1966,"Boulevard Haussmann 9th arrondissement, Paris,...",danone.com
2,Pfizer,Public,PharmaceuticalBiotechnology,1849,"The Spiral, New York City, U.S.",pfizer.com